/**
 * responsiveTable.css
 * Author & copyright (c) 2015: Hakan Havutcuoglu
 * GNU license
 *
 * Page: http://www.havutcuoglu.com
 *
 * jQuery plugin for responsiveTables on smartphones or small screens
 *
 */

.responsiveTable table,
table.responsiveTable{
	width:100%;
	caption {
		font-size:1.2em;
		margin:1em 0;
	}
	thead {
		display: none;
	}
	tbody {
		tr {
		border-radius:3px;
		border:1px solid #ccc;
		margin: 1em 0;
		padding: 10px;
		display: block;
		td {
				display: block;
				padding: 0 0.5em 0.5em;
				position:relative;
				text-align:left;
				&:first-child {
					padding-top:0.5em;
					&:before{
						top:5px;
						font-size:1.4em;
						font-weight:normal;
						text-transform:uppercase;
					}
				}
				&:before { 
					content: attr(data-th);
					display:block;
					text-align:left;
					font-weight:bold;
				}
			}
		}
		&:nth-child(even) {
			background: #fff;
		}
		&:nth-child(odd) {
			background: #fff;
		}
	}
}